*{
padding:0px;
margin:0px;
}
html{min-width:760px;}
body{
margin:0px;
padding:0px;
line-height:180%;
font-size:14px;
background-color:#666;
font-family:"宋体",verdana;
}
img{border:0px;}
table{
padding:0px;
border-collapse:collapse;/*设置单元格的边合并在一起*/
empty-cells:show;/*设置单元格无内容时，显示该单元格的边框*/
margin:0px;
}
td,tr{
padding:0px;
}
a.a_nounderline:link,a.a_nounderline:visited {
	color:#333;
	text-decoration: none;
}
a.a_nounderline:hover {
	color: #B56C00;
	text-decoration: none;
}
a:link,a:visited {
	color:#333;
	text-decoration:underline;
}
a:hover {
	color: #B56C00;
	text-decoration:underline;
}
a.a_red:link,a.a_red:visited {
	font-weight:bold;
	color: #DB6B26;
	text-decoration:underline;
}
a.a_red:hover {
	font-weight:bold;
	color: #DB6B26;
	text-decoration: none;
}
a.a_white:link,a.a_white:visited {
	color: #FFF;
	text-decoration:underline;
}
a.a_white:hover {
	color: #FC0;
	text-decoration: none;
}
ul.inline_ul{
	clear:both;
	list-style:none;
}
li.inline_li{
	display:inline;
	padding:0 5px 0 5px;
}	

.font_12{font-size:12px;font-weight:normal;}
.font_bold{	
	font-weight:bold;
	font-family:arial,sans-serif;
}
.font_grey{color:#ccc;}
.text_blod{font-size:14px;font-weight:bold;}
.box_date{height:20px;width:80px;border:1px #999 solid;}
.box_name{height:20px;width:120px;border:1px #999 solid;}
.box_email{height:20px;width:200px;border:1px #999 solid;}
.box_title{height:20px;width:260px;border:1px #999 solid;}
.box_tiny{height:20px;width:30px;border:1px #999 solid;}
.box_short{height:20px;width:80px;border:1px #999 solid;}
.box_middle{height:20px;width:160px;border:1px #999 solid;}
.box_long{height:20px;width:300px;border:1px #999 solid;}
.box_comment{height:70px;width:420px;border:1px #999 solid;}
.text_title{
font-weight:bold;
padding-left:4px;
padding-top:4px;
border-bottom:1px solid #CCC;
}
.text_right{text-align:right;}
.text_center{text-align:center;height:28px;}
.underline_grey{border-bottom:1px solid #CCC;}
.underline_red{border-bottom:1px solid #D9001D;}
.sink{margin-top:4px;}
h3{
font-size:14px;
font-weight:bold;
border-top:1px solid #CCC;
background-color:#F6F6F6;
margin-top:16px;
margin-bottom:10px;
}
/*+++++++++++++They are the main frame of this page++++++++++*/
#top{
height:74px;
width:100%;
background:#FFF url(../images/top_underline_2.jpg) bottom repeat-x;
}
#top_content,#main_1,#footer{	
width:80%;
clear:both;
margin-right:auto;
margin-left:auto;
}	
	#top_content{
	}
		#top_menu{
		float:left;
		padding-top:30px;
		padding-left:30px;
		font-size:14px;
		}
		#top_search{
		float:right;
		}
		#go_home{
		text-align:right;
		height:26px;
		font-size:12px;
		}
			#search_value{
			height:19px;
			border:1px solid #999;
			}
			#search_kind{
			height:22px;
			border:1px solid #999;
			}			
			#but_search{
			width:48px;
			height:22px;
			border:0px;
			vertical-align:bottom;
			cursor:pointer;
			background:url(../images/but_search.jpg) no-repeat;
			}
/*----------------------footer----------------------*/
.cleaner {
clear: both;
height: 0;
font-size: 0;
line-height:0;
visibility: hidden;
content: ' ';
}
#footer{
width:100%;
text-align:center;
margin-top:10px;
font-size:12px;
color:#666;
border-top:1px solid #CCC;
}