/*----------------for myhome.html---------------*/
#main_home{
clear:both;
width:840px;
background-color:#FFF;
margin-right:auto;
margin-left:auto;
}	
	#main_home #left{
	float:left;
	width:164px;
	margin-right:20px;
	}
		#me{
		width:122px;
		font-size:12px;
		border:1px solid #CCC;
		padding:12px 20px 10px 20px;
		background:url(../images/bg_me.gif) repeat;
		}
			#img_headshot{
			border:1px solid #FFF;
			width:120px;
			height:108px;
			}
			#me p{padding-top:4px;}
		#action{
		width:164px;
		margin-top:10px;
		background:url(../images/action_title.jpg) no-repeat;
		padding-top:24px;
		}
		#action_body{
		width:142px;
		padding:4px 10px 8px 10px;
		border-left:1px solid #CCC;
		border-right:1px solid #CCC;
		border-bottom:1px solid #CCC;
		}
			#action_body p{padding-top:6px;}
	#main_home #middle{
	float:left;
	width:482px;
	margin-right:14px;
	}
		#main_home #m1{}
		#main_home table{
		width:100%;
		font-size:12px;
		}

		.m1_title{
		font-weight:bold;
		font-size:14px;
		border-bottom:1px solid #D9001D;
		}
		#m1 td{height:26px;}
			#but_addevent{
			width:100px;
			height:24px;
			margin-top:6px;
			border:0px;
			float:right;
			background:url(../images/but_addevent.jpg) no-repeat;
			cursor:pointer;
			}
		#main_home #m2{margin-top:40px;}
		#new_menu{}
		#new_menu td{
		height:22px;
		font-size:14px;
		text-align:center;
		border-bottom:1px solid #D9001D;
		}
		#m2 .td_slot{width:6px;}
			#new_event_title,#new_concern_title,#new_comment_title,#new_message_title,#new_friend_title{
			border:1px solid #D9001D;
			}
			#new_event_title{width:72px;}
			#new_comment_title{width:44px;}
			#new_message_title{width:44px;}
			#new_friend_title{width:72px;}
			#new_event{
			padding-top:16px;}
				#new_event .each_event{
				padding-left:20px;
				font-size:12px;
				background: url(../images/dot_square.gif) no-repeat 10px 8px;
				}
				#new_event .time{
				padding-right:24px;
				}
			#new_comment,#new_message,#new_friend{
			font-size:12px;
			}
				.tip{
				height:24px;
				color:#666;
				padding-left:10px;
				background-color:#E8E8E8;
				margin-bottom:8px;
				}
				
				.time{
				color:#666;
				padding-left:10px;
				text-align:left;
				}
				.each_comment,.each_message{
				border-bottom:1px solid #CCC;
				margin-bottom:8px;
				}
				#new_comment .each_comment_title{}
	#main_home #right{
	float:right;
	}
	#main_home #friends{
	width:134px;
	font-size:12px;
	padding:0 10px 10px 10px;
	border:1px solid #CCC;
	}
	#friends li{display:block;}