/*----------------for register.html---------------*/
#main_reg{
clear:both;
width:840px;
margin-right:auto;
margin-left:auto;
}
#reg_left{
float:left;
width:544px;
padding:6px 12px 0 12px;
margin-right:12px;
}
	#main_reg #reg_title{
	font-weight:bold;
	padding-left:10px;
	border-bottom:1px solid #CCC;}
	#reg_info{
	padding-top:20px;
	padding-left:30px;
	}
	#reg_info td{height:32px;}
	#but_reg2{
	border:0px;
	width:80px;
	height:24px;
	background:url(../images/but_reg2.jpg) no-repeat;
	cursor:pointer;
	margin-top:4px;
	}
#reg_right{
float:left;
width:260px;
background:url(../images/intro_title.jpg) no-repeat top;
padding-top:25px;
}
	#intro_body{
	margin-left:2px;
	line-height:200%;
	width:255px;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	}
		.intro_each{
		padding-top:12px;
		}
			.intro_title{
			margin-left:10px;
			font-weight:bold;
			}
			.intro_content{
			padding:4px 12px 0px 30px;
			border-bottom:1px solid #CCC;
			line-height:200%;
			}