{% extends 'base.htm' %}
{% block head %}
<link rel="stylesheet" href="/static/style/home.css">
<script language="JavaScript" src="/static/js/prototype.js"></script>
<script language="JavaScript" src="/static/js/scriptaculous.js"></script>
<script language="JavaScript" src="/static/js/ajax.js"></script>
<script language="JavaScript" src="/static/js/switch.js"></script>
{% block js %}{% endblock %}
{% endblock %}
{% block top %}
<div id="top_menu">
  <ul>
    <li><a href="../home" class="a_nounderline">个人主页</a></li>
    <li><a href="../message" class="a_nounderline">留言板</a></li>
    <li><a href="../friends" class="a_nounderline">好友</a></li>
  </ul>
</div>
<div id="top_search">
  <div id="go_home">
	<a href="../myhome">我的首页</a> &nbsp;&nbsp;
	<a href="{{ logouturl}}">退出</a>
  </div>
  <form method="get" action="../search/">
    <input id="search_value" name="search_value" type="text"/>
    <select id="search_kind" name="search_kind">
      <option value="username" selected="selected">用户</option>
      <option value="event">事件</option>
      <option value="blog">日志</option>
    </select>
    <input type="submit" id="but_search" value=""/>
  </form>
</div>
{% endblock %}
{% block content %}
<div id="main_home">
	<div id="left">
		<div id="me">
		<img src="../static/upload/me.jpg" id="img_headshot"/>
		<p>{{ uname }}，welcome！</p>
		<p>成就指数：{{ rank }}</p>
		<p>签名档：{{ sign|default:"" }}</p>
		{%if is_admin %}
		<p>上次登录:{{ last_login|date:"Y-m-d" }}</p>
		{%endif%}
		<p>
		  <a href="../myinfo">个人资料</a>
		  {%if is_admin %}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ logouturl}}">退出登录</a>{%endif%}
		</p>
	</div>
		<div id="action">
		<div id="action_body">
		  {%if is_admin%}
		  <p>
			<img src="/static/images/dot_adde.gif" />&nbsp;&nbsp;
			<a href="../addevent" class="a_nounderline">创建新事件</a>
		  </p>
		  {%endif%}
		  <p>
			<img  src="/static/images/dot_doing.gif" />&nbsp;&nbsp;
			<a href="../doing" class="a_nounderline">正在做事件</a>
		  </p>
		  <p>
			<img src="/static/images/dot_todo.gif" />&nbsp;&nbsp;
			<a href="../todo" class="a_nounderline">准备做事件</a>
		  </p>	
		  <p>
			<img src="/static/images/dot_done.gif" />&nbsp;&nbsp;
			<a href="../done" class="a_nounderline">已完成事件</a>
		  </p>
		</div>
	</div>
	</div>
	<div id="middle">
		{% block middle %}{% endblock %}
	</div>
	<div id="right">
		{% block right %}{% endblock %}
	</div>
</div>
{% endblock %}

