{% extends 'blog_base.htm' %}
{%block middle%}
<div class="tip">{{tip}}，num：{{num}}</div>
{%for blog in blogs%}
<div class="blog_each" id="div_blog_{{blog.key}}">
  <div class="blog_title font_bold">
	{%if not blog.is_public%}
	<img src="/static/images/dot_lock.gif"	style="padding-left:4px;"/>
	{%endif%}
	<a href="../blog?blog={{blog.key}}" class="a_noline"><span id="name_{{blog.key}}">{{blog.title}}</span></a></div>
  <div class="blog_tip">
	{{blog.time|date:"Y m-d H:i"}},
	Tags:
	{% if blog.tags %}
	{%for tag in blog.tags%}<a href="../blogview?tag={{tag.word}}">{{tag.word}}</a>&nbsp;{%endfor%}
	{%else%}无
	{%endif%},
	Event:{%if blog.event%}
	<a href="../event?event={{blog.event.key}}">{{blog.event.title}}</a>
	{%else%}无
	{%endif%},
	{{blog.com_num}} comments|
	{% if is_admin %}
	<a href="../editblog/?blog={{blog.key}}"><img src="/static/images/edit.jpg"
	border="0" title="编辑该blog"/></a>
	&nbsp;&nbsp;
	<a href="javascript:del_blog('{{blog.key}}')"><img src="/static/images/del.jpg"
	border="0" title="删除该blog"/></a>
	{%endif%}
  </div>
  <div class="blog_brief">
	{{blog.brief|removetags:"b span p"|escape|safe}}
  </div>
</div>
{%endfor%}
<!--分页-->
{%if pages_nums%}
<div id="pages_num">
  换页：
  {%for num in pages_nums%}
  <a href="../blogview?{%if view_type and view_type%}{{view_type}}={{view_value}}&{%endif%}pageid={{num}}"
	 {%ifequal num pageid%}
	 class="a_noline">
	<strong>{{num}}</strong>
	{%else%}
	>
	{{num}}
	{%endifequal%}
  </a>
  {%if not forloop.last%}&nbsp;|&nbsp;{%endif%}
  {%endfor%}
</div>
{%endif%}
{%if is_admin%}
<div id="del_blog_confirm_box" style="display:none;">
  <input type="hidden" id="recorder_bkey"/><!--记录要删除日志的key-->
  <div>您确信要删除日志<span id="del_blog_name"></span>吗？</div>
  <div style="padding-top:8px;">
	<input type="button" value="确认" onclick="del_blog_real3()"/>
    <input type="button" value="取消" onclick="$('del_blog_confirm_box').hide();"/>
  </div>	
</div>
{%endif%}
{% endblock %}
{%block right%}
{%if is_admin%}
<input onclick="window.location.replace('../addblog')" type="button" id="but_addblog" />
{%endif%}
{% endblock %}
