{% extends 'base_home.htm' %}

{% block middle %}
	<div id="navigation"><a href="../">首页</a>->评论</div>

	<div id="m1">
			<div class="title2">{{blog_title}}</div>
			<div  id="timenote" >
			<p >修改于：
			{{publish_time|date:"Y m j, H:i:s"}}| 
			{%if is_author%}
				<a href="../newblog">编辑</a>&nbsp;&nbsp;<a href=".">删除</a>
			{% endif %}
			</p>
			</div>	

			<div>
			<textarea disabled font-size:12px
			style="background-color: transparent;  border-style: solid; border-width: 1px 1px 1px"
 			wrap=hard name="content" rows=15 cols=58  >
			{{blog_content}}
			</textarea>
			</div>



	</div>

{% endblock %}

{% comment %} 
	  		</div>
			<table width="98%" border="0" cellspacing="0" cellpadding="0" id="comment">
			  <tr>
				<td width="86%" id="comment_counter" class="dot_triright">
				<a href="javascript:switch_comment()" class="a_raw">共{{comment_number}}条评论 </a>
				</td>
				<td width="14%"><a href="#" class="a_raw">+发表评论</a> </td>
			  </tr>
			</table>
			<div id="comment_body" style="display:none;">
				<div class="each_com">
						<div class="com_info">
						<table width="98%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><a href="#">l0he1g</a>
							<span class="time">(11.14 14:00)</span></td>
							<td width="7%"><a href="#">回复</a></td>
							<td width="7%"><a href="#">删除</a></td>
						  </tr>
						</table>
						</div>
						<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
				</div>
				<div class="each_com">
						<div class="com_info">
						<table width="98%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><a href="#">l0he1g</a>
							<span class="time">(11.14 14:00)</span></td>
							<td width="7%"><a href="#">回复</a></td>
							<td width="7%"><a href="#">删除</a></td>
						  </tr>
						</table>
						</div>
						<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
				</div>
				<div class="each_com">
						<div class="com_info">
						<table width="98%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><a href="#">l0he1g</a>
							<span class="time">(11.14 14:00)</span></td>
							<td width="7%"><a href="#">回复</a></td>
							<td width="7%"><a href="#">删除</a></td>
						  </tr>
						</table>
						</div>
						<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
				</div>
			</div>

{% endcomment %}