{% extends 'base_home.htm' %}

{% block middle %}

	<div style=display:none>
		<form enctype="multipart/form-data"  id="blog_info" action="" method="post" >
			<input name="blog" type="hidden" value={{blog.id}} />
			<input name="event_info" type="hidden" value="{{event.id}}" />
			<input name="com_id" type="hidden" value="" />
			</form>
	</div>
	<div id="navigation"> <a href="../home">首页</a>-> <a href="../doing">正在做事件</a>-> <a href="../event/?event={{blog.event_id.id}}">{{blog.event_id.title}}</a> </div>

	<div>
		<input type="hidden" id="blog_title" value="{{blog.title}}"/>
	<div>
	<div id="m1">
			<div class="title2">{{blog.title}}</div>
			<div  id="timenote" >
				<table width="98%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<p>
					修改于:{{blog.publish_time|date:"Y M j, H:i:s"}}|
					{%if is_author%}
						<a href="javascript:edit_blog()">编辑</a>&nbsp;&nbsp;<a href="javascript:del_blog()">删除</a>
					{% endif %}
					</p>
				</tr>
			</div>	

			<div class="blog_content">
			<table style="word-break:break-all"  width="450" border="0" cellspacing="0" cellpadding="0" >
			<tr align="left" >
			<td bgcolor="#f7f7f7";style="word-break:break-all"   >		
			{{blog.content|escape|linebreaks}}
			</td>
			</tr>
			</div>
			</div>
			<div>
			<div >
				<table width="98%" border="0" cellspacing="0" cellpadding="0" id="comment">
				 <tr align="left">
				 <td width="86%" id="comment_counter" class="dot_triright">
				 <a href="javascript:switch_comment()" class="a_raw">共{{comment_number}}条评论 </a>
				 </td>				 
			  	</tr>
				</table>
			</div>	
			<div id="comment_body" style="display:none;">
				{% for comment in comment_list %}
				<div class="each_com">						
						<div class="com_info">
						<table width="98%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><a href="#">发表人：{{comment.remarker_id}}</a>
							<span class="time">|{{comment.publish_time|date:"Y M j, H:i:s"}}</span></td>
							<td width="7%"><a href="javascript:delete_comment({{comment.id}})">删除</a></td>						
						  </tr>

						</table>
						</div>	
						<div style="word-break:break-all" >
							{{comment.content|escape|linebreaks}}
						</div>					
				</div>
				{% endfor %}
			</div>
			<div>
                     <div style="FILTER: HEIGHT: 15pt;font-size:10pt" face="隶书" color=#009900>
			<b>评论</b><p></p>
			</div>
			<div>
					<form enctype="multipart/form-data"  id="my_newcomment" action="../add_comment/" method="post" >
						<input name="blog_id" type="hidden" value={{blog.id}} />
						<input name="event_id" type="hidden" value="{{event.id}}" />	
						<div>
						<textarea name="new_content"; rows=5; cols=65 ></textarea>
						</div>
					
						<div>
						<input name="" type="button"  value="提交留言" onclick="addcomment()" />
						</div>
					</form>
			</div>

			</div>
	</div>

{% endblock %}
