{% extends 'base_home.htm' %}

{% block middle %}
	<div id="navigation"><a href="../home/">首页</a>-><a href="">正在做事件</a>->{{current_event}}</div>
    <div id="m1">
			<div class="title1">
				<table width="98%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td width="88%" class="text_bold">发表新日志</td>
					<td width="12%" class="font_12">{{ username}}</td>
				  </tr>
				</table>
				<form   enctype="multipart/form-data"  id="editblog" action="." method="post">
					<div >标题：<input  type="text" name="title" class="box_title"/>
					<font size=2 color=Red font-weight:normal>{{error_msg}}</font>
					</div>
					<div>
					<textarea
					style="background-color: transparent;  border-style: solid; border-width: 1px 1px 1px";
					 wrap=hard; name="content"; rows=15; cols=58></textarea>
					</div>
					<div><input name="" type="submit" class="but_submit" value="" /></div>
				</form>
			</div>
      </div>
{% endblock %}

	

