{% extends 'base_home.htm' %}

{% block middle %}
	<div id="navigation"><a href="../home/">首页</a>-><a href="../myinfo/">个人资料</a></div>
    <div id="m1">
			<div class="title1">修改密码</div>
			{% if setting %}
				<p style="padding:20px 0 0 16px;">恭喜您！密码设置成功。</p>
			{% else %}
			<form method="post" name="repassword" action=".">
			<table width="98%" border="0" cellspacing="0" cellpadding="0" id="tb_myinfo">
			<tr>
			  <td width="18%" align="right"><label for="id_subject"></label></td>
			  <td width="32%" ><input type="hidden" id="id_username" name="username" value='{{username}}'  /></td>
			 </tr>
			 <tr>
				<td width="18%" align="right">旧密码：</td>
				<td width="32%">{{form.password_old}}</td>
				<td width="50%" >{{form.password_old.errors}}</td>
			 </tr>
			 <tr>
				<td width="18%" align="right">新密码：</td>
				<td colspan="2">{{form.password1}}</td>
			 </tr>
			 <tr>
				<td width="18%" align="right">重输新密码：</td>
				<td>{{form.password2}}</td><td>{{form.password2.errors}}</td>
			 </tr>  
			  <tr>
			  	<td></td>
				<td><input name="" type="submit" class="but_submit" value=""/></td>
			  </tr>
			</table>
			</form>
			{% endif %}
      </div>
{% endblock %}