{% extends 'base.htm' %}
{% block head %}
  <meta http-equiv="refresh" content="5;url=http://localhost/home/" />
  <link rel="stylesheet" href="/static/style/sub.css">
 {% endblock %}
{% block content %}

<div id="main_reg">
	<div id="reg_left">
		<p id="reg_title">用户验证</p>
		<div id="reg_info">
		{% if success %}
				恭喜您！验证成功，５秒钟转到<a href="../home">个人主页</a>。
		{% else %}
			{% if confirmed %}
	尊敬的用户，您已经验证过了，不要再验证。
			{% else %}
				{% if expired %}
	尊敬的用户，您注册账户由于在两天内没有验证，所以注册失败，请换别的用户名和邮件来重新注册。
				{% endif%}				
			{% endif %}
		{% endif %}
		</div>
	</div>
	<div id="reg_right">
		<div id="intro_body">
			<div class="intro_each">
				<div class="intro_title"><img src="images/1.gif" />&nbsp;&nbsp;在干啥？</div>
				<div class="intro_content">记录并规划一件想做的事；
记录并与别人分享经验；
寻找同样再做某件事的，互相交流；
关注好友在干啥；</div>
			</div>
			<div class="intro_each">
				<div class="intro_title"><img src="images/2.gif" />&nbsp;&nbsp;想干啥？</div>
				<div class="intro_content">记录并规划一件想做的事；
记录并与别人分享经验；
寻找同样再做某件事的，互相交流；
关注好友在干啥；</div>
			</div>
			<div class="intro_each">
				<div class="intro_title"><img src="images/3.gif" />&nbsp;&nbsp;在干啥？</div>
				<div class="intro_content">记录并规划一件想做的事；
记录并与别人分享经验；
寻找同样再做某件事的，互相交流；
关注好友在干啥；</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


