{% extends 'base_home.htm' %}
{% block middle %}
<div id="navigation"><a href="../home">首页</a>->正在做事件</div>
<div id="m1">
  <div class="title1">
	{%ifequal kind 'doing'%}正在做事件
	{%else%}
        {%ifequal kind 'todo'%}准备做事件
	    {%else%}已完成事件
        {% endifequal %}
    {% endifequal %}
</div>
  {% if events %}
  {% for event in events %}
  <div class="events" id="event_{{event_id}}">
    <table width="98%" border="0" cellspacing="0" cellpadding="0" class="tip">
      <tr>
        <td class="event_title">
		  <a href="../event/?event={{event.id}}">{{event.title}}</a>
		  {% if event.isprivacy %}
		  <img src="/static/images/dot_lock.gif" style="padding-left:4px;"/>
		  {% endif %}
		</td>
		{%if is_admin%}
        <td width="8%"><a href="javascript:del_event( {{event.id}})">删除</a></td>
		{%endif%}
      </tr>
    </table>
    <table width="98%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8%">进度：</td>
        <td width="92%">{{event.progress}}%</td>
      </tr>
      <tr>
        <td>时间：</td>
        <td>{{event.start_date|date:"Y.m.d"}}-{{event.end_date|date:"Y.m.d"}}</td>
      </tr>
      <tr>
        <td valign="top">描述：</td>
        <td>{{event.description}}</td>
      </tr>
    </table>
  </div>
  {%endfor%}
  {%else%}
  <br />
  <p>没有该类事件。</p>
  {%endif%}
</div>
{%if is_admin%}
<div id="del_confirm_box" style="display:none;">
	<div>删除一个事件，其相关的日志和关注信息都会被删除，他人也无法
	再获得该事件的信息，并且您的成就指数将减少10，确信要删除吗？</div>
    <div style="padding-top:8px;">
	 	<input type="button" value="确认" onclick="send_del({{event.id}})"/>
      	<input type="button" value="取消" onclick="$('del_confirm_box').hide();"/>
	</div>	
</div>
{%endif%}
{% endblock %}
