{% extends 'base_home.htm' %}

{% block middle %}
<div id="m1">
<div class="title1">搜索事件：{{search_value}}
</div>
<div class="tip">共有{{counter}}个结果。</div>
{% if ret %}
{% for event in ret %}
<div class="each_friend">
  <div><b><a href="../event/?event={{event.id}}">{{event.title}}</a></b></div>
  <div>{{event.description}}</div>
  <div style="color:#666;">
  	<span>By：<a href="../?user={{event.user_id.id}}">{{event.user_id.username}}</a></span>
	<span>Progress:{{event.progress}}</span>
	<span>Start:{{event.start_date}}</span>
	<span>End:{{event.end_date}}</span>
	{%ifnotequal event.user_id.username username%}
	<span>[<a href="../add_to_concern/?event={{event.id}}">加为关注</a>]</span>
	{% endifnotequal %}
  </div> 
</div>
{% endfor %}
{% else %}
<p>没有和"{{search_value}}"相关的事件!</p>
{% endif %}     

{% endblock %} 