{% extends 'base_home.htm' %}

{% block middle %}
<div id="m1">
<div class="title1">搜索
	{% ifequal search_kind "username"%}用户名
	{%else%}
		{% ifequal search_kind "event" %}事件
		{%else%}日志
		{%endifequal%}
	{%endifequal%}:
	{{search_value}}
</div>
<div class="tip">共有{{counter}}个结果。</div>
{% if ret %}
{% for user in ret %}
<div class="each_friend">
  <div class="who"> 
  	<a href="../?user={{user.id}}"><img src="{{user.userbasicinfo.headshot.url}}" /></a>
    <div><a href="../?user={{user.id}}">{{user.username}}</a></div>
  </div>
  <div class="updateinfo">
    <ul>
      <li>性别:{% ifequal user.userbasicinfo.gender 'M'%}男{%else%}女{%endifequal%}</li>
      <li>毕业学校:{{user.userbasicinfo.graduate_school|default_if_none:"不详"}}</li>
      <li>地址:{{user.userbasicinfo.location|default_if_none:"不详"}}</li>
    </ul>
  </div>
  {%ifequal user.username username%}
  <div class="operation"><a href="#">自己</a></div>
  {%else%}
  <div class="operation" >
  	<a href="#"onclick="show_box({{user.id}})" id="op_{{user.id}}">加为好友</a>
  </div>
  {%endifequal%} 
  </div>
{% endfor %}
{% else %}
<p>没有用户名中包含"{{search_value}}"!</p>
{% endif %}     
<div id="mes_box" style="display:none;">
	<div>发送好友请求，经对方确认后，方可成为好友。
请输入验证信息（45字以内）：</div>
    <div><textarea id="message" class="textarea"></textarea></div>
     <div>	
	 	<input	type="hidden" id="to_user"/>
	 	<input type="button" value="发送" onclick="send_request()"/>
      	<input type="button" value="取消" onclick="$('mes_box').hide();"/>
	</div>	
</div>
{% endblock %} 