{% extends 'base_home.htm' %}

{% block middle %}
	<div id="m1">
	  <table cellspacing="0">
		<tr>
		  <td width="18%" align="center" class="m1_title">事件</td>
		  <td width="10%" class="m1_title">进展</td>
		  <td width="56%" class="m1_title">近期任务</td>
		  <td width="16%" class="m1_title">期限</td>
		</tr>
		{% for se in se_list %}
		<tr>
		  <td><a href="../event/?event={{se.event_id.id}}">{{se.event_id.title}}</a></td>
		  <td>{{se.event_id.progress}}%</td>
		  <td>{{se.content}}</td>
		  <td>{{se.end_date}}</td>
		</tr>
		{% endfor %}
	  </table>
	  <input type="button"
	  onclick="window.location.replace('../addevent')"  id="but_addevent" />
	</div>
	<div id="m2">
				<div id="switch_menu">
					<table width="98%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td class="td_slot">&nbsp;</td>
				<td id="new_event_title"><a href="javascript:sw('new_event');" class="a_nounderline">事件动态</a></td>
				<td class="td_slot">&nbsp;</td>
				<td id="new_comment_title"><a href="javascript:sw('new_comment');" class="a_nounderline">评论</a></td>
				<td class="td_slot">&nbsp;</td>
				<td id="new_message_title"><a href="javascript:sw('new_message');" class="a_nounderline">留言</a></td>
				<td class="td_slot">&nbsp;</td>
				<td id="new_friend_title"><a href="javascript:sw('new_friend');" class="a_nounderline">好友请求</a></td>
				<td>&nbsp;</td>
			  </tr>
			</table>
				</div>
				<div id="new_event">
				  <div class="each_event">
				  {%for hi in hi_list%}
					<p>
					  <span class="time">{{hi.date}}</span>
					  {{hi.content}}({{hi.event_id.title}})
					</p>
				  {%endfor%}
				  </div>
				</div>
				<div id="new_comment" style="display:none">
					<div class="tip">您共有3条新评论。</div>
					<div class="each_comment">
						<div class="each_comment_title">
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td><a href="#">l0he1g</a>
								<span class="time">(11.14 14:00，评论《<a href="#">如何学英语</a>》)</span></td>
								<td width="7%"><a href="#">回复</a></td>
								<td width="7%"><a href="#">删除</a></td>
							  </tr>
							</table>
							<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
						</div>
					</div>
					<div class="each_comment">
						<div class="each_comment_title">
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td><a href="#">l0he1g</a>
								<span class="time">(11.14 14:00，评论《<a href="#">如何学英语</a>》)</span></td>
								<td width="7%"><a href="#">回复</a></td>
								<td width="7%"><a href="#">删除</a></td>
							  </tr>
							</table>
							<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
						</div>
					</div>
					<div class="each_comment">
						<div class="each_comment_title">
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td><a href="#">l0he1g</a>
								<span class="time">(11.14 14:00，评论《<a href="#">如何学英语</a>》)</span></td>
								<td width="7%"><a href="#">回复</a></td>
								<td width="7%"><a href="#">删除</a></td>
							  </tr>
							</table>
							<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
						</div>
					</div>
				</div>
				<div id="new_message" style="display:none;">
					<div class="tip">您共有3条新留言，<a href="message.html">转到留言板</a>。</div>
					<div class="each_comment">
						<div class="each_comment_title">
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td><a href="#">l0he1g</a>
								<span class="time">(11.14 14:00)</span></td>
								<td width="7%"><a href="#">回复</a></td>
								<td width="7%"><a href="#">删除</a></td>
							  </tr>
							</table>
							<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
						</div>
					</div>
					<div class="each_comment">
						<div class="each_comment_title">
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td><a href="#">l0he1g</a>
								<span class="time">(11.14 14:00)</span></td>
								<td width="7%"><a href="#">回复</a></td>
								<td width="7%"><a href="#">删除</a></td>
							  </tr>
							</table>
							<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
						</div>
					</div>
					<div class="each_comment">
						<div class="each_comment_title">
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td><a href="#">l0he1g</a>
								<span class="time">(11.14 14:00)</span></td>
								<td width="7%"><a href="#">回复</a></td>
								<td width="7%"><a href="#">删除</a></td>
							  </tr>
							</table>
							<p>关于网络认证系统的几点使用说明1．连线校园,是指访问包括研究生院在内的中科院院属各单位的网络资源，此选项不计流量费</p>
						</div>
					</div>
				</div>
				<div id="new_friend" style="display:none;">
					<div class="tip">您共有{{request_friend.count}}条好友请求，<a href="../friends">转到好友列表</a>。</div>
					{% if request_friend%}
						{% for user in request_friend %}
							<div class="each_comment" id="request_{{user.sender.id}}">
							  <input type="hidden" value="{{user.sender.username}}" id="uname_{{user.sender.id}}" >
								<p>
								  <a href="../?user={{user.sender.id}}">
									{{user.sender.username}}
								  </a>
								  ：{{user.message}}
								</p>
								<p class="text_right">
								  <a href="javascript:accept_friend( {{user.sender.id}} );">
									加为好友
								  </a>
								  &nbsp;&nbsp;&nbsp;&nbsp;
								  <a href="javascript:deny_friend({{user.sender.id}});">
								  拒绝</a>
								</p>
							</div>
						{%endfor%}
					{%endif%}
					
				</div>
			</div>
{% endblock %}
{% block right %}
	<div id="friends">
				<p class="text_title" style="font-size:14px;">我的好友</p>
				<ul>
				{% if friends %}
					{% for user in friends%}
						<li><a href="../?user={{user.myfriend.id}}">{{user.myfriend.username}}</a></li>
					{% endfor %}
				{%else %}
					<li>暂时没加好友</li>
				{%endif%}
				</ul>
			</div>
{% endblock %}

