{% extends 'base.htm' %}
{% block content %}
<div id="main_2">
  <div id="info">
	<div class="text_title">What's My-Dreams？ </div>
	<p>很多时候，我们徘徊迷失于这喧嚣的世界，不知道自己到底要干些什么！</p>
	<p>很多时候，我们在不停的忙碌， 日子过得很快， 但回头一看，却不知道自己到底干了些什么！</p>
	<p>很多时候，我们有很多不错的想法、令人激动的目标， 但随着岁月无情的冲刷、现实的残酷， 热血渐渐被冷却，梦想渐渐被遗忘在记忆的角落。</p>
	<p>有多少人能像Randy Pausch教授那样， 在正当壮年时， 笑对死神的降临， 因为他一一实现了以往的梦想， 此生无憾！</p>
	<p>My-Dreams 记录你的梦想，分享你的梦想，规划你的梦想――Home of your dreams!</p>
	<p style="text-align:right;">――仅以此网站纪念Randy Pausch教授的离去</p>
  </div>
	<div id="index_right">
	  <div  id="login">
		<div id="login_title">登录</div>
		<div id="login_body">
			<form  method="post">
			<table class="login_tb">
                <tr>
                  <td>用户名：</td>
                  <td><input type="text" name="uname" class="box_name" /></td>
                </tr>
                <tr>
                  <td>密&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
                  <td height="32"><input type="password" name="passwd" class="box_name"/></td>
                </tr>
              </table>
			<table class="login_tb">
                <tr>
                  <td height="32" colspan="2"><input type="button" id="but_login"/></td>
                  <td class="font_12">
                    <input name="auto_remember" type="checkbox"  class="sink"/>
                    <a href="#">自动登录</a></td>
                </tr>
			</table>
			</form>
		<table class="login_tb">
		  <tr>
			<td class="font_12"> <a href="#">注册</a></td>
			<td class="font_12"><a href="#">忘记密码？</a></td>
          </tr>
		</table>	
		</div>
	  </div>
	<div id="login_google"><a href="{{ loginurl }}">您也可以用Google账户登录!</a></div>
	</div>

</div>
{% endblock %}

