{% extends 'base_home.htm' %}

{% block middle %}
<div id="m1">
<div class="title1">ÁôÑÔ°å</div>
<div class="tip">Äú¹²ÓĞ{{mes_li|length}}¸öÁôÑÔ¡£</div>
<table>
  <tbody id="tbody_mes">
	{%for mes in mes_li%}
	<tr class="mes_info" id="tr1_mes_{{mes.id}}">
	  <td>
		<a href="../home/?user={{mes.sender.id}}">{{mes.sender}}</a> 
		<span class="time">{{mes.publish_time}}</span>
	  </td>
	  {%if is_admin%}
	  <td width="7%"><a href="javascript:del_mes({{mes.id}});">É¾³ı</a></td>
	  {%endif%} 
	</tr>
	<tr id="tr2_mes_{{mes.id}}">
	  <td class="each_mes" {%if is_admin%}colspan="2"{%endif%}>{{mes.content}}</td>
	</tr>
	{%endfor%}
  </tbody>
</table>
<div id="mes_produce">
    <input type="hidden" id="visitor_id" value="{{visitor.id}}"/>
    <input type="hidden" id="visitor_name" value="{{visitor.username}}"/>
	
    <form action="." method="post">
      <textarea id="write_mes" class="box_comment"></textarea>
      <p>
        <input type="button" value="Ìá½»ÁôÑÔ" onclick="submit_mes()"/>
      </p>
    </form>
</div>
{% endblock %} 
