{% extends 'base_home.htm' %}

{% block middle %}
	<div id="navigation"><a href="../home">首页</a>->个人资料</div>
    <div id="m1">
			<div class="title1">
				<table width="98%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td width="76%" class="text_bold">{{ username }}</td>
					<td width="24%" class="font_12"><a href="../editmyinfo/">修改资料</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="../changepassword/">修改密码</a></td>
				  </tr>
				</table>
			</div>
			<table width="98%" border="0" cellspacing="0" cellpadding="0" id="tb_myinfo">
			  <tr>
				<td width="15%" align="right">性别：</td>
				<td width="85%">{% ifequal gender "M" %} 男{% else %} 女{% endifequal %}</td>
			  </tr>
			  <tr>
				<td align="right"><pre>毕业学校：</pre></td>
				<td>{{graduate_school}}</td>
			  </tr>
			  <tr>
				<td align="right">地址：</td>
				<td>{{location}}</td>
			  </tr>
			  <tr>
				<td align="right">QQ：</td>
				<td>{{qq}}</td>
			  </tr>
			  <tr>
				<td align="right">MSN：</td>
				<td>{{msn}}</td>
			  </tr>
			</table>	
      </div>
{% endblock %}
