{% extends 'base_home.htm' %}
{% block middle %}
<div id="navigation">
  <a href="../home">首页</a>->
  <a href="../doing">正在做事件</a>->
  <a href="../event/?event={{event_id}}">学英语</a>
</div>
<div id="m1">
  <div class="title1">发表新日志</div>
  <form action="." method="post">
    <div style="margin:16px 10px 20px 10px;">标题：
      {{form.title}}
    </div>
    <div>{{form.content}}</div>
    <div>
      <input value="" type="submit" class="but_submit" />
    </div>
  </form>
</div>
{% endblock %}
