<html>
  <head>
	<title>testing</title>
  </head><div></div>
  <body>
	<img src="http://google.com/logo.jpg" alt="">
	<a href="http://google.com"><hr>
	</a>
 <div id="submit_subevent" >
      <form method="post" action="." id="form_add_se">
        <table id="tb"  width="98%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="14%" align="right">子事件：</td>
            <td width="76%"><input type="text" class="box_long" name="content"/></td>
            <td width="10%" align="right" valign="top">
			</td>
          </tr>
          <tr>
            <td align="right">开始时间：</td>
            <td>
			  <input type="text" name="start_date" />
			  <span style="padding-left:12px;">完成时间：</span>
			  <input type="text" name="end_date" />
            </td>
            <td>
			  <input type="submit" id="but_submit_se" value="提&nbsp;交" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
