{% extends 'base_home.htm' %}
{% block lbox %}
	<div class="lbox">
	  <div class="lbox_title font_bold">Tags</div>
	  <div class="lbox_body">
		{%for tag in tags%}
		<a href="../blogview?tag={{tag.word|default:'notag'}}" class="a_noline">
		  {{tag.word}}</a>&nbsp;
		{%endfor%}
		<a href="../blogview?tag=notag" class="a_noline">无tag</a>
	  </div>
	</div>
	<div class="lbox">
	  <div class="lbox_title font_bold">按相关事件分类</div>
	  <div class="lbox_body">
		<ul>
		  {%for event in events%}
		  <li><a href="../blogview?event={{event.key}}"	class="a_noline">{{event.title}}</a>&nbsp;<br/></li>
		  {%endfor%}
		  <li><a href="../blogview/?event=None" class="a_noline">无事件相关</a>&nbsp;</li>
		</ul>
	  </div>
	</div>
	<div class="lbox">
	  <div class="lbox_title font_bold">Archives</div>
	  <div class="lbox_body">
		<ul>
		  {%for month in months%}
		  <li><a href="../blogview?month={{month}}" class="a_noline">{{month}}</a>&nbsp;<br/></li>
		  {%endfor%}
		</ul>
	  </div>
	</div>
	<div class="lbox">
	  <div class="lbox_title font_bold">Comments</div>
	  <div class="lbox_body">
		<ul class="ul_dot">
		  {%for comment in comments%}
		  <li class="li_dot">
			<a href="../home/?user={{comment.sender.user_id}}">{{comment.sender.nickname}}</a><br/>
			<a href="../blog?blog={{comment.blog.key}}" class="a_noline">{{comment.content|slice:":20"}}...</a>
		  </li><br/>
		  {%endfor%}
		</ul>
	  </div>
	</div>
{% endblock %}
