{% extends 'base.htm' %}
{% block js %}
<script language="JavaScript" src="/static/js/fckeditor/fckeditor.js"></script>
{% endblock %}
{%block left%}&nbsp;{%endblock%}
{% block middle %}
<div id="navigation">
  <a href="../home">首页</a>->
  <a href="../doing">正在做事件</a>
  {%if blog%}
  -><a href="../event/?event={{blog.event.key}}">{{blog.event.title}}</a>
  {%endif%}
</div>

<div id="m1">
  <div class="title1">{%if blog%}修改{%else%}发表{%endif%}日志</div>
  <form  id="editblog" action="." method="post">
	<input name="bkey" type="hidden" value='{% if blog%}{{blog.key}}{%endif%}'>
	<div style="margin-top:10px;">标题：
	  <input type="text" name="title" class="box_title" value="{{blog.title|default:""}}"/>
	  <font size=2 color=Red font-weight:normal>{{error_msg}}</font>
	</div>
	<div style="margin-top:10px;">相关事件：
	  <select id="blog_event" name="event_key">
		<option value="None">不与任何事件相关</option>
		{%for event in events%}
		<option value="{{event.key}}" {%ifequal event.key def_event%}selected="selected"{%endifequal%}>
		{{event.title|default:""}}
		</option>
		{%endfor%}
	  </select>
	</div>
	<div style="margin-top:10px;">是否公开：
	  <select id="myevent_is_public" name="is_public">
		<option value="1" {% if not blog or blog.is_public%}selected="selected"{%endif%}>是</option>
		<option value="0" {% if blog and not blog.is_public %}selected="selected"{%endif%}>否</option>
	  </select>
    </div>
	<div style="margin-top:10px;">
	  <textarea name="content" rows=40 cols=60 style="height: 300px;">{{blog.content|default:""}}</textarea>
	  <script type="text/javascript">
		var oFCKeditor = new FCKeditor("content");
		oFCKeditor.BasePath = "/static/js/fckeditor/";
		oFCKeditor.Height = 400;
		oFCKeditor.ToolbarSet = "Basic";
		oFCKeditor.ReplaceTextarea();
	  </script>
	</div>
	<div style="margin-top:10px;">Tags：
	  <input type="text" name="tags" class="box_title" value="{{blog_tags}}"/><!--在view中格式化-->
	</div>
	<div><input name="" type="submit" value="" class="but_submit"/></div>
  </form>
</div>
{% endblock %}

	
