{% extends 'base_home.htm' %}

{% block middle %}
<div id="m1">
<div class="title1">留言板</div>
<div class="tip">您共有<span id="num_mes">{{count}}</span>个留言。</div>
<table>
  <tbody id="tbody_mes">
	{%for mes in mes_li%}
	<tr class="mes_info" id="tr1_mes_{{mes.key}}">
	  <td>#{{forloop.revcounter|add:offset}}&nbsp;
		<a href="../home/?user={{mes.sender.user_id}}">{{mes.sender.nickname}}</a> 
		<span class="time">{{mes.publish_time|date:"Y-m-d H:i:s"}}</span>
	  </td>
	  {%if is_admin%}
	  <td width="7%"><a href="javascript:del_mes('{{mes.key}}');">删除</a></td>
	  {%endif%} 
	</tr>
	<tr id="tr2_mes_{{mes.key}}">
	  <td class="each_mes" {%if is_admin%}colspan="2"{%endif%}>{{mes.content}}</td>
	</tr>
	{%endfor%}
  </tbody>
</table>
<!--分页-->
{%if pages_nums%}
<div id="pages_num">
  换页：
  {%for num in pages_nums%}
  <a href="../message?pageid={{num}}"
	 {%ifequal num pageid%}
	 class="a_noline">
	<strong>{{num}}</strong>
	{%else%}
	>
	{{num}}
	{%endifequal%}
  </a>
  {%if not forloop.last%}&nbsp;|&nbsp;{%endif%}
  {%endfor%}
</div>
{%endif%}

<div id="mes_produce">
    <input type="hidden" id="visitor_id" value="{{visitor.user_id}}"/>
    <input type="hidden" id="visitor_name" value="{{visitor.nickname}}"/>
	
    <form action="." method="post">
      <textarea id="write_mes" name="content" class="box_comment"></textarea>
      <p>
        <input type="submit" value="提交留言"/>
        <!--<input type="button" value="提交留言" onclick="submit_mes()"/>-->
      </p>
    </form>
</div>
{% endblock %} 
